// Drawing mixins

// generic drawing of more complex things

@function _widget_edge($c:$borders_edge) {
// outer highlight "used" on most widgets
  @if $c == none { @return none; }
  @else { @return 0 1px $c; }
}

@mixin _shadows($list...) {
//
// Helper mixin to stack up to box-shadows;
//
  $shadows: null;

  @each $shadow in $list {
    @if $shadow!=none { $shadows: $shadows, $shadow; }
  }

  box-shadow: $shadows;
}

// entries
@function entry_focus_border($fc:$selected_bg_color) {
@return $fc;
}

@function entry_focus_shadow($fc:$selected_bg_color) { @return inset 0 0 0 1px $fc; }

@mixin entry($t, $fc:$selected_bg_color, $edge: none) {
//
// Entries drawing function
//
// $t: entry type
// $fc: focus color
// $edge: set to none to not draw the bottom edge or specify a color to not
//        use the default one
//
// possible $t values:
// normal, focus, insensitive, osd, osd-focus;
//

  $_blank_edge: if($edge == none, none, 0 1px transparentize($edge, 1));
  $_entry_edge: if($edge == none, none, _widget_edge($edge));

  @if $t==normal {
    
  	 color: $text_color;
    border-color: $borders_color;
    border-top-color: #94918c;
    border-bottom-color: #ffffff;
    border-left-color: #94918c;
    border-right-color: #ffffff;
    background-color: $base_color;
    box-shadow: inset 0px 1px #000000, inset 0px -1px #d4d0c8, inset 1px 0px #000000, inset -1px 0px #d4d0c8; 
    // for the transition to work the number of shadows in different states needs to match, hence the transparent shadow here.
  }

  @if $t==focus {
    border-top-color: #94918c;
    border-bottom-color: #ffffff;
    border-left-color: #94918c;
    border-right-color: #ffffff;
    box-shadow: inset 0px 1px #000000, inset 0px -1px #d4d0c8, inset 1px 0px #000000, inset -1px 0px #d4d0c8; 
  }
  @if $t==insensitive {
  color: $insensitive_fg_color;
    border-color: $borders_color;
    background-color: #d4d0c8;
    border-top-color: #94918c;
    border-bottom-color: #ffffff;
    border-left-color: #94918c;
    border-right-color: #ffffff;
    box-shadow: inset 0px 1px #000000, inset 0px -1px #d4d0c8, inset 1px 0px #000000, inset -1px 0px #d4d0c8; 
  }

  @if $t==osd {
    color: $osd_text_color;
    border-color: $osd_borders_color;
    background-color: transparentize(opacify($osd_borders_color, 1), 0.5);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
  }
  @if $t==osd-focus {
    color: $osd_text_color;
    border-color: $selected_bg_color;
    background-color: transparentize(opacify($osd_borders_color, 1), 0.5);
    background-clip: padding-box;
    box-shadow: entry_focus_shadow($fc);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
  }
  @if $t==osd-insensitive {
    color: $osd_insensitive_fg_color;
    border-color: $osd_borders_color;
    background-color: $osd_insensitive_bg_color;
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
  }
 
}

// buttons

@function _border_color($c, $darker: false) {
  @if $darker == true { @return darken($c, 20%); }
  @else { @return darken($c, 10%); }
}

@function _text_shadow_color ($tc: $fg_color, $bg: $bg_color) {
//
// calculate the color of text shadows
//
// $tc is the text color
// $bg is the background color
//
  $_lbg: lightness($bg)/100%;
  @if lightness($tc)<50% { @return transparentize(white, 1-$_lbg/($_lbg*1.3)); }
  @else { @return transparentize(black, $_lbg*0.8); }
}

@function _button_hilight_color($c) {
//
// calculate the right top hilight color for buttons
//
// $c: base color;
//
  @if lightness($c)>95% { @return white; }
  @else if lightness($c)>90% { @return transparentize(white, 0.2); }
  @else if lightness($c)>80% { @return transparentize(white, 0.5); }
  @else if lightness($c)>50% { @return transparentize(white, 0.8); }
  @else if lightness($c)>40% { @return transparentize(white, 0.9); }
  @else { @return transparentize(white, 0.98); }
}

@mixin _button_text_shadow ($tc:$fg_color, $bg:$bg_color) {
//
// helper function for the text emboss effect
//
// $tc is the optional text color, not the shadow color
//
// TODO: this functions needs a way to deal with special cases
//

  $_shadow: _text_shadow_color($tc, $bg);

  @if lightness($tc)<50% {
    text-shadow: 0 1px $_shadow;
    -gtk-icon-shadow: 0 1px $_shadow;
  }
  @else {
    text-shadow: 0 -1px $_shadow;
    -gtk-icon-shadow: 0 -1px $_shadow;
  }
}

@mixin button($t, $c:$bg_color, $tc:$fg_color, $edge: none) {
//
// Button drawing function
//
// $t:    button type,
// $c:    base button color for colored* types
// $tc:   optional text color for colored* types
// $edge: set to none to not draw the bottom edge or specify a color to not
//        use the default one
//
// possible $t values:
// normal, hover, active, insensitive, insensitive-active,
// osd, osd-hover, osd-active, osd-insensitive,undecorated
//
// This mixin sets the $button_fill global variable which containts the button background-image
//
  $_hilight_color: _button_hilight_color($c);
  $_button_edge: if($edge == none, none, _widget_edge($edge));
  $_blank_edge: if($edge == none, none, _widget_edge(transparentize($edge,1)));
  $_button_shadow: 0 1px 2px transparentize($shadow_color, 0.03);

  @if $t==normal {
  //
  // normal button
  //
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    @include _button_text_shadow($tc, $c);
    background-image: linear-gradient(to bottom, 
rgb(203,204,204) 0%,
rgb(203,204,205) 2.13%,
rgb(208,209,209) 4.26%,
rgb(216,218,216) 14.89%,
rgb(213,214,213) 17.02%,
rgb(203,203,204) 19.15%,
rgb(221,222,222) 40.43%,
rgb(249,250,249) 80.85%,
rgb(255,255,255) 100%);

border-color:#605f5f;
    

 }

  @else if $t==hover {
  //
  // hovered button
  //
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    background-image: linear-gradient(to bottom, 
rgb(166,191,216) 0%,
rgb(167,192,217) 2.13%,
rgb(172,197,223) 4.26%,
rgb(175,202,230) 14.89%,
rgb(165,196,227) 17.02%,
rgb(144,181,218) 19.15%,
rgb(167,202,240) 40.43%,
rgb(193,231,253) 80.85%,
rgb(202,248,255) 100%);
border-color:#0b397b
    
  }

  @if $t==normal-alt {
  //
  // normal button alternative look
  //
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    border-color: if($c != $bg_color, _border_color($c, true), $alt_borders_color);
    @include _button_text_shadow($tc, $c);
      background-image: linear-gradient(to bottom, lighten($c, 5%) 20%, $c 90%);
       @include _shadows(inset 0 1px _button_hilight_color(lighten($c, 6%)),
                        $_button_edge, $_button_shadow);
  }

  @else if $t==hover-alt {
  //
  // hovered button alternative look
  //
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    border-color: if($c != $bg_color, _border_color($c, true), $alt_borders_color);
      $button_fill: linear-gradient(to bottom, lighten($c, 9%) 10%, lighten($c, 4%) 90%) !global;
      @include _shadows(inset 0 1px _button_hilight_color(lighten($c, 6%)),
                        $_button_edge, $_button_shadow);
    background-image: $button_fill;
  }

  @else if $t==active {
  //
  // pushed button
  //
    color: $tc;
    outline-color: transparentize($tc, 0.7);
background-image: linear-gradient(to bottom, 
rgb(126,155,178) 0%,
rgb(126,155,178) 2.13%,
rgb(132,160,183) 4.26%,
rgb(136,164,188) 14.89%,
rgb(128,160,187) 17.02%,
rgb(110,147,184) 19.15%,
rgb(125,165,201) 40.43%,
rgb(125,165,201) 42.55%,
rgb(151,193,213) 80.85%,
rgb(165,211,220) 100%);
border-color:#0a2f72;
    text-shadow: none;
    -gtk-icon-shadow: none;

  }

  @else if $t==insensitive {
  //
  // insensitive button
  //
    $_bg: if($c != $bg_color, mix($c, $base_color, 85%), $insensitive_bg_color);

    color: if($tc != $fg_color, mix($tc, $_bg, 50%), $insensitive_fg_color);
background-image: linear-gradient(to bottom, 
rgb(226,227,225) 0%,
rgb(228,228,227) 4.08%,
rgb(234,234,233) 14.29%,
rgb(232,233,232) 18.37%,
rgb(230,231,230) 20.41%,
rgb(229,229,229) 22.45%,
rgb(236,237,236) 40.82%,
rgb(255,255,255) 73.47%,
rgb(255,255,255) 100%);
border-color:#b1b1b1;

    text-shadow: none;
    -gtk-icon-shadow: none;
    // white with 0 alpha to avoid an ugly transition, since no color means
    // black with 0 alpha
    @include _shadows(inset 0 1px transparentize(white, 1), $_button_edge);
  }

  @else if $t==insensitive-active {
  //
  // insensitive pushed button
  //
    $_bg: darken(mix($c, $base_color, 85%), 8%);
    $_bc: if($c != $bg_color, _border_color($c), $insensitive_borders_color);

    color: if($c != $bg_color, mix($tc, $_bg, 60%), $insensitive_fg_color);
    border-color: $_bc;
    $button_fill: image($_bg) !global;
    background-image: $button_fill;
    // white with 0 alpha to avoid an ugly transition, since no color means
    // black with 0 alpha
    @include _shadows(inset 0 1px transparentize(white, 1), $_button_edge);
  }

  @else if $t==osd {
  //
  // normal osd button
  //
    $_bg: if($c != $bg_color, transparentize($c, 0.5), $osd_bg_color);

    color: $osd_fg_color;
    border-color: $osd_borders_color;
    background-color: transparent;
    $button_fill: image($_bg) !global;
    background-image: $button_fill;
    background-clip: padding-box;
    box-shadow: inset 0 1px transparentize(white, 0.9);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: transparentize($osd_fg_color, 0.7);
  }

  @else if $t==osd-hover {
  //
  // active osd button
  //
    $_bg: if($c != $bg_color, transparentize($c, 0.3), lighten($osd_bg_color, 12%));

    color: white;
    border-color: $osd_borders_color;
    background-color: transparent;
    $button_fill: image($_bg) !global;
    background-image: $button_fill;
    background-clip: padding-box;
    box-shadow: inset 0 1px transparentize(white, 0.9);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: transparentize($osd_fg_color, 0.7);
  }

  @else if $t==osd-active {
  //
  // active osd button
  //
    $_bg: if($c != $bg_color, $c, $osd_borders_color);

    color: white;
    border-color: $osd_borders_color;
    background-color: transparent;
    $button_fill: image($_bg) !global;
    background-image: $button_fill;
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    outline-color: transparentize($osd_fg_color, 0.7);
  }

  @else if $t==osd-insensitive {
  //
  // insensitive osd button
  //
    color: $osd_insensitive_fg_color;
    border-color: $osd_borders_color;
    background-color: transparent;
    $button_fill: image($osd_insensitive_bg_color) !global;
    background-image: $button_fill;
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
  }

  @else if $t==undecorated {
  //
  // reset
  //
    border-color: transparent;
    background-color: transparent;
    $button_fill: none !global;
    background-image: $button_fill;

    @include _shadows(inset 0 1px transparentize(white, 1), $_blank_edge);

    text-shadow: none;
    -gtk-icon-shadow: none;
  }
}

@mixin headerbar_fill($c:$headerbar_color, $hc:$top_hilight, $ov: none) {
//
// headerbar fill
//
// $c:  base color
// $hc: top highlight color
// $ov: a background layer for background shorthand (hence no commas!)
//
  
  box-shadow: inset 0 1px $hc; // top highlight
}

@mixin overshoot($p, $t:normal, $c:$fg_color) {
//
// overshoot
//
// $p: position
// $t: type
// $c: base color
//
// possible $p values:
// top, bottom, right, left
//
// possible $t values:
// normal
//

  $_small_gradient_length: 5%;
  $_big_gradient_length: 100%;

  $_position: center top;
  $_small_gradient_size: 100% $_small_gradient_length;
  $_big_gradient_size: 100% $_big_gradient_length;

  @if $p==bottom {
    $_position: center bottom;
    $_linear_gradient_direction: to top;
  }

  @else if $p==right {
    $_position: right center;
    $_small_gradient_size: $_small_gradient_length 100%;
    $_big_gradient_size: $_big_gradient_length 100%;
  }

  @else if $p==left {
    $_position: left center;
    $_small_gradient_size: $_small_gradient_length 100%;
    $_big_gradient_size: $_big_gradient_length 100%;
  }

  $_small_gradient_color: $c;
  $_big_gradient_color: $c;

  @if $c==$fg_color {
    $_small_gradient_color: darken($borders_color, 10%);
    $_big_gradient_color: $fg_color;

  }

  $_small_gradient: -gtk-gradient(radial,
                                  $_position, 0,
                                  $_position, 0.5,
                                  to($_small_gradient_color),
                                  to(transparentize($_small_gradient_color, 1)));

  $_big_gradient: -gtk-gradient(radial,
                                $_position, 0,
                                $_position, 0.6,
                                from(transparentize($_big_gradient_color, 0.93)),
                                to(transparentize($_big_gradient_color, 1)));

  @if $t==normal {
    background-image: $_small_gradient, $_big_gradient;
    background-size: $_small_gradient_size, $_big_gradient_size;
  }

  background-repeat: no-repeat;
  background-position: $_position;

  background-color: transparent; // reset some properties to be sure to not inherit them somehow
  border: none;                  //
  box-shadow: none;              //
}

/***************************
 * Check and Radio buttons *
 ***************************/

 @mixin check($t, $c:$bg_color, $tc:$fg_color, $checked: false) {
  // Check/Radio drawing function
  //
  // $t:        check/radio type,
  // $c:        base button color for colored* types
  // $tc:       optional text color for colored* types
  // $checked:  bool to chose between checked/unchecked
  //
  // possible $t values:
  // normal, hover, active, insensitive,

  $_border_color: if($c==$checkradio_bg_color, $c, $alt_borders_color);
  $_dim_border_color: transparentize($_border_color,  0.3);

  @if $t==normal  {
    background-clip: if($checked, border-box, padding-box);
    background-image: linear-gradient(to bottom, 
rgb(175,176,180) 0%,
rgb(195,196,198) 7.41%,
rgb(239,239,240) 11.11%,
rgb(216,221,220) 14.81%,
rgb(148,154,158) 18.52%,
rgb(143,146,150) 29.63%,
rgb(171,174,177) 40.74%,
rgb(172,176,179) 44.44%,
rgb(178,182,184) 51.85%,
rgb(197,200,202) 55.56%,
rgb(227,230,229) 96.3%,
rgb(227,229,229) 100%);
border-color:#37373a;
    box-shadow: 0 1px transparentize(black, 0.95);
    color: #000;
  }

@if $t==checked-normal {
    background-image: linear-gradient(to bottom, 
rgb(161,168,219) 0%,
rgb(187,201,235) 7.41%,
rgb(228,245,255) 11.11%,
rgb(177,222,255) 14.81%,
rgb(109,169,235) 18.52%,
rgb(92,138,190) 22.22%,
rgb(103,159,212) 25.93%,
rgb(88,157,216) 33.33%,
rgb(141,199,247) 48.15%,
rgb(154,206,251) 51.85%,
rgb(168,214,255) 55.56%,
rgb(218,254,254) 88.89%,
rgb(227,255,255) 96.3%,
rgb(227,255,255) 100%);
border-color: #22234f;

    background-color: white;
  }

  @if $t==hover {
    background-image: linear-gradient(to bottom, 
rgb(161,168,219) 0%,
rgb(187,201,235) 7.41%,
rgb(228,245,255) 11.11%,
rgb(177,222,255) 14.81%,
rgb(109,169,235) 18.52%,
rgb(92,138,190) 22.22%,
rgb(103,159,212) 25.93%,
rgb(88,157,216) 33.33%,
rgb(141,199,247) 48.15%,
rgb(154,206,251) 51.85%,
rgb(168,214,255) 55.56%,
rgb(218,254,254) 88.89%,
rgb(227,255,255) 96.3%,
rgb(227,255,255) 100%);
border-color: #22234f;

    background-color: white;
  }

  @if $t==active {
    background-image: linear-gradient(to bottom, 
rgb(97,104,153) 0%,
rgb(99,109,155) 3.7%,
rgb(135,144,174) 7.41%,
rgb(166,185,222) 11.11%,
rgb(96,150,220) 14.81%,
rgb(45,108,177) 18.52%,
rgb(43,81,131) 22.22%,
rgb(41,96,146) 25.93%,
rgb(42,111,168) 40.74%,
rgb(67,127,181) 44.44%,
rgb(85,140,192) 48.15%,
rgb(93,145,198) 51.85%,
rgb(107,157,208) 55.56%,
rgb(173,200,202) 96.3%,
rgb(173,200,203) 100%);
border-color: #22234f;

  }

  @if $t==insensitive {
    background-image: linear-gradient(to bottom, 
rgb(199,199,200) 0%,
rgb(209,209,210) 7.41%,
rgb(225,228,228) 11.11%,
rgb(213,215,216) 14.81%,
rgb(189,191,193) 18.52%,
rgb(184,186,188) 25.93%,
rgb(185,186,189) 29.63%,
rgb(201,203,204) 51.85%,
rgb(208,209,210) 55.56%,
rgb(214,215,216) 59.26%,
rgb(215,216,217) 62.96%,
rgb(216,216,217) 66.67%,
rgb(216,217,218) 70.37%,
rgb(217,219,219) 74.07%,
rgb(223,224,224) 100%);
border-color:#939394;

  }

}

