/***************
 * Mate-Panel *
 ***************/

$panel: #fff;
$panel_fg: #000;
$panel_bg: #fff;
$panel_border: $borders_color;
$panel_hc: transparentize($panel_fg, 0.7);
$panel_bg_button: mix(rgba(0,0,0,0.3), $panel, 80%);
$panel_menubar_hover: #000000;


PanelToplevel > *:not(menu):not(menuitem):not(button):not(menubar) {
	border-style: solid;
	border-color: $panel_border;
    border-width: 1px;
    border-bottom-width: 0px;
   box-shadow:  inset 0 36px #ebebeb, inset 0 34px #fff,inset 0 32px #ebebeb, inset 0 30px #fff,inset 0 28px #ebebeb, inset 0 26px #fff,inset 0 24px #ebebeb, inset 0 22px #fff,inset 0 20px #ebebeb, inset 0 18px #fff, inset 0 16px #ebebeb, inset 0 14px #fff,inset 0 12px #ebebeb, inset 0 10px #fff,inset 0 8px #ebebeb, inset 0 6px #fff,inset 0 4px #ebebeb, inset 0 2px #fff, inset 0 1px #fff;
}

/* first make all transparent */
.mate-panel-menu-bar,
.mate-panel-menu-bar menubar,
.mate-panel-menu-bar menuitem,
#PanelPlug,
#PanelApplet button,
PanelToplevel.background,
#PanelApplet-window-menu-applet-button {
    background-color: transparent;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    border-color: $panel_border;
}

.mate-panel-menu-bar menubar:not(menu) > menuitem {
	color: $panel_fg;
}

.mate-panel-menu-bar menubar:not(menu) > menuitem:hover {
	color: $panel_menubar_hover;
}


/* let's start it */
#PanelPlug,
.mate-panel-menu-bar,
PanelToplevel.background {
    background-color: $panel_bg;
    background-image: none;
    /* normal panel */
    /* transparent panel */
/*    color: @theme_selected_fg_color; */
    text-shadow: none;
   box-shadow:  inset 0 36px #ebebeb, inset 0 34px #fff,inset 0 32px #ebebeb, inset 0 30px #fff,inset 0 28px #ebebeb, inset 0 26px #fff,inset 0 24px #ebebeb, inset 0 22px #fff,inset 0 20px #ebebeb, inset 0 18px #fff, inset 0 16px #ebebeb, inset 0 14px #fff,inset 0 12px #ebebeb, inset 0 10px #fff,inset 0 8px #ebebeb, inset 0 6px #fff,inset 0 4px #ebebeb, inset 0 2px #fff, inset 0 1px #fff;

}

#PanelApplet {
    border-width: 1px;
  border-style: solid;
}

PanelSeparator {
    border-width: 0;
    background-image: none;
    text-shadow: none;
}

/* all applets */
.mate-panel-menu-bar #PanelApplet button {
    &,
    &.flat,
    &.toggle,
    &.flat.toggle {
 //   background-image: linear-gradient(to bottom, 
 //                   #4790f4, 
 //                   #397df3 30%, 
  //                  #3679f1);
    $light_shadow: #FFFFFF;
$dark_shadow: #94918C;
$button_bg_color: $bg_color;
$borders: #000000;
    border-radius: 3px;
       @include button(normal);
         
    }

    &:checked,
    &:checked:hover,
    &:hover:active,
    &.flat:checked,
    &.flat:hover:active,
    &.toggle:checked,
    &.toggle:checked:hover,
    &.toggle:hover:active,
    &.flat.toggle:checked,
    &.flat.toggle:checked:hover,
    &.flat.toggle:hover:active {

    //background-image: linear-gradient(to bottom, 
     //               #16459f , 
      //              #184dae 5%, 
      //              #1b51b8 80%,
      //              #2156b7);
     border-radius: 3px;
            @include button(active);

    }


    &:hover,
    &.flat:hover,
    &.toggle:hover,
    &.flat.toggle:hover {
   // background-image: linear-gradient(to bottom, 
   //                 #8ec6ff , 
    //                #5ea9ff 20%, 
    //                #569fff 80%,
    //                #267eff);
   border-radius: 3px;
            @include button(hover);
       


    } 
}


/* Classic icon style */
.mate-panel-menu-bar {
    -PanelMenuBar-icon-visible: true;
}

na-tray-applet {
    background-image: none;
    background-color: transparent;
    padding: 0;
    text-shadow: none;
    -NaTrayApplet-icon-padding: 3;
    -NaTrayApplet-icon-size: 16;
}

/* clock-applet */
.mate-panel-menu-bar #PanelApplet #clock-applet-button.flat.toggle {
 &,&:hover {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: none;
}

&:checked,
&:checked:hover {
    background-image: linear-gradient(to bottom, 
                    darken($panel_bg_button, 20%) , 
                    darken($panel_bg_button, 30%) 50%, 
                    darken($panel_bg_button, 60%));
    
    border-radius: 0;
    border-width: 1px;
    box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg;
}
}

/* volume applet, brightness applet */
.mate-panel-applet-slider {
    background: transparent;
& .frame {
    /*background-color: @theme_bg_color;*/
    border-image: none;
    border-style: solid;
    border-radius:2px;
    padding: 0px;
    margin: 0px;
    }

& .frame .frame{
    background-color:transparent;
    border-style: none;
    }

& .frame .button {
    color: $panel_fg;
   }

}


  .xfce4-panel.background {
    background-color:  #ededed;
    color: #000; }

    #sn-button,
    #indicator-button {
    box-shadow:  inset 0 4px #286add, inset 0 3px #307be5, inset 0 1px #3888e9, inset 0 -3px #235bd9, inset 0 -2px #1e50c4, inset 0 -1px #1941a5;
    }

   .xfce4-panel label {
    color: #000; }

    .xfce4-panel .tasklist .toggle {
           $light_shadow: #FFFFFF;
$dark_shadow: #94918C;
$button_bg_color: $bg_color;
$borders: #000000;
//    border-radius: 3px;
   //     @include button(normal);
/*       background-image: none;
   border-radius: 0px;
   color: $fg_color;
   border-top: 1px solid $button_bg_color;
   border-left: 1px solid $button_bg_color;
   border-right: 1px solid $borders;
   border-bottom: 1px solid $borders;
   border-radius: 0px;
   background-color: $button_bg_color;
   box-shadow: inset -1px 0 $dark_shadow, inset 0 -1px $dark_shadow, inset 1px 0 $light_shadow, inset 0 1px $light_shadow;
   */
    margin: 0px;
   color: $fg_color;
   border: 0px;
   border-top: 1px solid white ;
   border-right: 3px solid transparentize($bg_color, 0.9);
   border-radius: 0px;
   background-color: $bg_color;
   box-shadow: inset -2px -2px $dark_shadow, inset -1px -1px $borders, inset 2px 2px $light_shadow, inset 1px 1px $bg_color;
   background-image: none;
   }


    .xfce4-panel .tasklist .toggle:hover,
 {
               $light_shadow: #FFFFFF;
$dark_shadow: #94918C;
$button_bg_color: $bg_color;
$borders: #000000;
    /*ackground-image: none;
   border-radius: 0px;
   color: $fg_color;
   border-top: 1px solid $button_bg_color;
   border-left: 1px solid $button_bg_color;
   border-right: 1px solid $borders;
   border-bottom: 1px solid $borders;
   border-radius: 0px;
   background-color: $button_bg_color;
   box-shadow: inset -1px 0 $dark_shadow, inset 0 -1px $dark_shadow, inset 1px 0 $light_shadow, inset 0 1px $light_shadow;*/
   margin: 0px;
   color: $fg_color;
   border: 0px;
   border-top: 1px solid white ;
   border-right: 3px solid transparentize($bg_color, 0.9);
   border-radius: 0px;
   background-color: $bg_color;
   box-shadow: inset -2px -2px $dark_shadow, inset -1px -1px $borders, inset 2px 2px $light_shadow, inset 1px 1px $bg_color;
   background-image: none;


    } 

    .xfce4-panel .tasklist .toggle:checked,
    .xfce4-panel .tasklist .toggle:checked:hover,
    .xfce4-panel .tasklist .toggle:hover:active,
    .xfce4-panel .tasklist .toggle:checked {
            $light_shadow: #FFFFFF;
$dark_shadow: #94918C;
$button_bg_color: $bg_color;
$borders: #000000;
 /* border-radius: px;
     color: $fg_color;
   box-shadow: 1px 1px $dark_shadow inset;
   border-color: $borders;
   border-right-color: #b4b0a9;
   background-color: $bg_color;
   background-image: linear-gradient(45deg,
                        #b4b0a9,
                        white 50%,
                        #b4b0a9);
                        background-size: 2px 2px;
                            background-repeat: repeat repeat;*/
                            font-weight: bold;
   border-radius: 0px;
   border: 0px;
   border-top: 1px solid white;
   border-right: 3px solid transparentize($bg_color, 0.9);
   box-shadow: 4px 4px $dark_shadow inset, 3px 3px $borders inset, inset 2px 2px $bg_color,inset 1px 1px $bg_color, -2px -2px $button_bg_color inset, 0px -1px $light_shadow inset;
   background-image: linear-gradient(45deg,
                        #b4b0a9,
                        white 50%,
                        #b4b0a9);
                        background-size: 2px 2px;
    background-repeat: repeat repeat;
   color: $fg_color;
   background-color: $bg_color;


    }

   