/**
 * xp-start-plugin.scss - Luna (Blue) Start Button/Menu Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

button.xp-start-button
{
    background-image: none;
    background-size:  100% 100%;
    background-color: transparent;
    border-style:     none;
    border-radius: 0px;
    border-color:     #377f39;
    font-size:        0pt;
    font-style:       italic;
    margin-right:     0px;
    padding-left:     20px;
    text-shadow:      1px 1px 2px #152404;
    box-shadow:  inset 0 36px #ebebeb, inset 0 34px #fff,inset 0 32px #ebebeb, inset 0 30px #fff,inset 0 28px #ebebeb, inset 0 26px #fff,inset 0 24px #ebebeb, inset 0 22px #fff,inset 0 20px #ebebeb, inset 0 18px #fff, inset 0 16px #ebebeb, inset 0 14px #fff,inset 0 12px #ebebeb, inset 0 10px #fff,inset 0 8px #ebebeb, inset 0 6px #fff,inset 0 4px #ebebeb, inset 0 2px #fff, inset 0 1px #fff;

    &:hover
    {
        


    }

    &:active,
    &:checked
    {

    }

    @at-root .xp-flag
    {
        background-image:    url("assets/start_flag.png");
        background-position: center;
        background-repeat:   no-repeat;
        margin-left:         5px;
        margin-right:        4px;
        min-height:          20px;
        min-width:           20px;
    }

    label
    {
        margin-right: 14px;
    }
}

window.csd.xp-start-menu // Specificity hack -_-
{
    background: transparent;
    border:     none;

    decoration
    {
        box-shadow: 6px 6px 2px -3px rgba(0, 0, 0, 0.4);
    }

    menubar
    {
        padding: 6px;
        
        menuitem,
        separator
        {
            &:not(:last-child)
            {
                margin-bottom: 4px;
            }
        }
    }

    @at-root .xp-start-logoffpane
    {
        background-image:  
        linear-gradient(to right, #5b9df4 0%, #5b9df4 30%, #ededed 30%, #ededed);
        background-position: -2px 0px;
        background-size:      101% 100%;
        border-color:         #000;
        border-style:         solid;
        border-width:         0px 1px;

        button
        {   border-radius: 0px;
            margin-bottom: 6px;
            margin-top:    4px;
            padding:       2px 8px 2px 2px;
            box-shadow: none;
            text-shadow: 0px 1px 2px #000;

            &:last-child
            {
                margin-right: -3px;
            }

            &,
            &:active,
            &:checked,
            &:focus,
            &:hover
            {
                background: transparent;
                border:     none;
                color:      #000;
                text-shadow: 0px 1px 2px #fff;

            }

            &:active,
            &:hover
            {
                background: $selected_bg_color;
                color:      $selected_fg_color;
                            text-shadow: 0px 1px 2px #000;

            }

            &:active
            {
                padding: 3px 7px 1px 3px;
            }

            image
            {
                margin-right: 4px;
            }
        }
    }
    

    @at-root .xp-start-places-column
    {
        background-color:   #ededed;
        background:   #ededed;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        color:        #000;
        border-color:         #ededed;
        border-right-color:   #000;

        menubar {
        	       background-image:none;
                   background-color:  #ededed;
                   border-width: 0px;
                   box-shadow: none;
        }
        menuitem
        {
            padding: 0px;

            &.significant
            {
                font-weight: bold;
            }

            image
            {
                margin-right: 2px;
            }
        }

        separator
        {
            background: linear-gradient(90deg, rgba(211,229,250,1) 0%, rgba(129,182,255,1) 35%, rgba(129,182,255,1) 50%, rgba(129,182,255,1) 65%, rgba(211,229,250,1) 100%);
        }
    }

    @at-root .xp-start-programs-column
    {
        background:   #FFFFFF;

        menubar {  margin-left: 40px;
                   background-image:none;
                   background-color:  #fff;
                   border-width: 0px;
                box-shadow: -40px 0px #5b9df4,  inset -1px 0px #373737 , inset 0px -1px #373737; 

        }
        border-style: solid;
        border-width: 0px;
        border-left-width: 1px; 
        color:        #0A246A;
        border-color:         #373737;
        border-left-color: #373737;
        color:        #373737;
        min-width:    182px;
        box-shadow:none;
        margin-right: 0px;

        box.xp-start-all-programs
        {
            font-weight: bold;
            min-height:  initial;

            .arrow
            {
                background-image: -gtk-icontheme("pan-end-symbolic");
                background-position: right center;
                background-repeat:   no-repeat;
                margin-left:         10px;
                min-height:          24px;
                min-width:           16px;
                
                &:hover
                {
                  //  background-image: url("assets/all_programs_arrow_hot.png");
                }
            }
        }
        
        
        separator
        {
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(211,211,200,1) 25%, rgba(211,211,200,1) 50%, rgba(211,211,200,1) 75%, rgba(255,255,255,1) 100%);
            
            &:nth-last-child(2)
            {
                margin-top: 10px;
            }
        }
    }

    @at-root .xp-start-userpane
    {
        background-image:  
        linear-gradient(to right, #5b9df4 0%, #5b9df4 30%, #ededed 30%, #ededed);
        background-size:      101% 100%;
        background-position: -2px 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-style:         solid;
        border-color:         #000;
        border-width:         1px 1px 0px;
     //   box-shadow:           inset 0px 3px #3c81d9,inset 0px 2px #8bb5e7, inset 0px 1px #6ca5e8;
        min-width:            380px;

        box
        {
        	//user-tile
        	border-color:#356cca;
            border-style: solid;
            border-width: 3px 3px 3px 3px;
            margin:       2px 0px 2px 1px;
            
            image
            {
                background: #CCD6EB;
                box-shadow: none;
                margin: 0px;
            }
        }
        
        label
        {
            color:       #FFFFFF;
            font-family: 'Franklin Gothic Medium';
            font-size:   14pt;
            margin-left: 5px;
            text-shadow: 0px 1px 2px #000;
        }
    }
}

